@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  background-color: #FFFFFF;
  font-family: Oak-Sans;
  overflow-x: hidden;

}
@font-face {
  font-family: Oak Sans, sans-serif;
  src: url(../app/assets/variable/OakSansVF.ttf);
}
.cursor {
  transition: all 200ms ease-out;
  transform: translate(calc(-50% + 15px), -50%);
  @apply w-[42px] h-[42px] fixed pointer-events-none left-0 top-0 z-[99];
}

.inner-cursor {
  transition: all 200ms ease-out;
  animation: moveCursor1 0.5s infinite alternate;
  @apply absolute w-[42px] h-[42px] left-0 top-0 rounded-[100%] border-[4px] border-solid border-black;
}

.inner-cursor::after {
  content: url('data:image/svg+xml,<svg id="Capa_1" fill="%23000000" enable-background="new 0 0 511.106 511.106" height="25" viewBox="0 0 511.106 511.106" width="25" xmlns="http://www.w3.org/2000/svg"><g><path d="m205.355 240.553c1.035-3.457 2.409-6.768 4.099-9.886l-59.511-59.511c-15.592 19.472-25.919 43.328-28.809 69.398h84.221z"/><path d="m305.751 270.553c-1.035 3.457-2.409 6.768-4.099 9.886l59.512 59.511c15.592-19.472 25.919-43.328 28.809-69.398h-84.222z"/><path d="m478.863 270.553v-30h32.243c-1.27-22.117-5.335-43.704-12.039-64.349l-30.134 11.813-10.949-27.931 30.136-11.814c-10.462-22.648-24.3-43.794-41.257-62.816l-22.8 22.8-21.213-21.213 22.8-22.8c-16.537-14.741-34.676-27.13-54.015-36.989l-12.955 29.661-27.492-12.008 12.956-29.663c-23.412-8.616-48.15-13.784-73.591-15.244v32.243h-30v-32.243c-22.117 1.27-43.704 5.335-64.35 12.039l11.813 30.134-27.931 10.949-11.814-30.136c-22.647 10.462-43.794 24.3-62.816 41.257l22.8 22.8-21.213 21.213-22.799-22.8c-14.741 16.537-27.13 34.676-36.989 54.015l29.661 12.955-12.008 27.492-29.663-12.955c-8.616 23.411-13.784 48.149-15.244 73.59h32.243v30h-32.243c1.27 22.117 5.335 43.704 12.039 64.349l30.134-11.813 10.949 27.931-30.136 11.813c10.462 22.647 24.3 43.794 41.257 62.816l22.799-22.799 21.213 21.213-22.8 22.8c16.537 14.741 34.676 27.13 54.015 36.989l12.955-29.661 27.492 12.008-12.956 29.663c23.412 8.616 48.15 13.784 73.591 15.245v-32.243h30v32.243c22.117-1.27 43.704-5.336 64.35-12.039l-11.813-30.134 27.93-10.949 11.813 30.136c22.648-10.462 43.794-24.3 62.816-41.257l-22.8-22.8 21.213-21.213 22.8 22.8c14.741-16.537 27.131-34.676 36.989-54.015l-29.661-12.955 12.008-27.492 29.663 12.956c8.616-23.412 13.784-48.15 15.244-73.591h-32.241zm-223.31 150.255c-91.122 0-165.255-74.133-165.255-165.255s74.133-165.255 165.255-165.255 165.256 74.133 165.256 165.255-74.134 165.255-165.256 165.255z"/><path d="m301.652 230.667c1.69 3.118 3.064 6.43 4.099 9.886h84.221c-2.89-26.07-13.217-49.926-28.809-69.398z"/><path d="m280.439 301.652c-3.118 1.69-6.43 3.064-9.886 4.099v84.221c26.07-2.89 49.926-13.217 69.398-28.809z"/><path d="m209.454 280.44c-1.69-3.118-3.064-6.43-4.099-9.886h-84.221c2.89 26.07 13.217 49.926 28.809 69.398z"/><path d="m240.553 305.751c-3.457-1.035-6.768-2.409-9.886-4.099l-59.511 59.511c19.472 15.592 43.328 25.919 69.398 28.809v-84.221z"/><path d="m230.667 209.454c3.118-1.69 6.43-3.064 9.886-4.099v-84.221c-26.07 2.89-49.926 13.217-69.398 28.809z"/><path d="m270.553 121.134v84.221c3.457 1.035 6.768 2.409 9.886 4.099l59.512-59.511c-19.472-15.593-43.328-25.919-69.398-28.809z"/><circle cx="255.553" cy="255.553" r="22.397"/></g></svg>');
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

@keyframes softTop {
  0% {
    transform: translate(0, 10%);
    top: 2rem;
  }

  100% {
    transform: translate(0, 0);
    top: 0;
  }
}






@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container {
    @apply px-4;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    @apply px-[2rem]
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    @apply px-[3rem] max-w-[720px];
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    @apply px-[4rem] max-w-[960px];
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
  .container {
    @apply px-[4rem];
  }
}

@media only screen and (min-width: 1536px) and (max-width: 1680px) {
  .container {
    @apply px-[5rem];
  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .container {
    @apply  max-w-[1400px]
  }
}


/* Navbar css */

.nav-main{
  @apply w-full p-0 bg-[#FFFFFF] fixed top-0 z-40 backdrop-blur-[50px] border-b border-[#C9CDD3]
}

.nav-links{
  @apply text-[#1A1D21] text-[15px] hover:bg-transparent rounded-none font-medium flex items-center relative group-hover:text-primary
  uppercase font-oak-sans
}
.line{
  @apply w-[2px] h-[50px] bg-[#C9CDD3] mt-4
}
.nav-arrow{
  @apply ml-[3px] mt-[2px] group-hover:rotate-180 transition-all duration-300 group-hover:fill-primary
}
.dropdown-content{
  @apply right-0 mt-12 shadow w-52 text-lg bg-[#F5F5F5] text-center p-1
}
.submenu-dropdown{
  @apply z-10 bg-primary shadow-lg relative left-0 top-0 p-1
}
.dropdown-options{
  @apply text-white text-base font-normal active:bg-transparent px-2 py-4 hover:bg-primary   
}


.center-dropdown {
  @apply absolute w-[180px] h-0 overflow-hidden invisible transition-[height] duration-[0.2s] ease-[ease-in-out] border border-t-secondary
   flex flex-col mt-0 top-[84px] left-[-16px] bg-secondary p-0 overflow-y-auto
}
.nav-drop {
  @apply relative py-4 md:py-7
}
.nav-drop:hover .center-dropdown {
  @apply h-auto transition-[height] duration-[0.5s] ease-[ease-in-out] visible;
}

.drop-list{
  @apply text-[#FFFFFF] text-[14px] font-medium active:bg-transparent !p-2 hover:bg-transparent !border-b border-[#101010] rounded-none
  active:text-[#FFFFFF] active:bg-[#101010] last:border-b-transparent hover:bg-white hover:text-primary
}
.login-btn{
  @apply text-[#101010] text-[16px] uppercase font-medium border border-[#101010] px-6 py-2
}
.signup-btn{
  @apply text-[#FFFFFF] text-[16px] uppercase font-medium border border-[#101010] px-6 py-2 bg-[#101010] hover:bg-primary hover:border-primary 
  transition-all duration-500
}
.search {
  @apply w-full relative cursor-pointer
}

.search-wrapper{
  @apply relative cursor-pointer
}
.search-input {
  @apply w-[0%] h-[44px] border border-[#B3B8C2] outline-none p-3 placeholder:leading-[1] rounded-[24px]
  placeholder:text-[#B3B8C2] leading-[1] placeholder:text-[14px] !pl-8 bg-[#FFFFFF]
  transition-all duration-500
}
.search-wrapper svg{
  @apply absolute bottom-[10px] left-3
}
.search-input:focus {
  @apply w-[80%];
}
.search-wrapper.active .search-input {
  width: 80%;
}
.page-template-result .search input{
  @apply w-full
}

.menu[class*=" px-"]:not(.menu[class*=" px-0"]) li > *{
  @apply rounded-none
}

.menu :where(li) > :where(*:not(ul)) {
  @apply gap-0 p-0
}
.search-btn{
    @apply flex gap-x-[5px] items-center
}

.nav-hov:after {
@apply content-[''] absolute w-full h-px bg-primary origin-bottom-right transition-transform duration-[0.25s] ease-[ease-out] scale-x-0 left-0 bottom-0;
}
.nav-hov:hover:after {
@apply origin-bottom-left scale-x-100;
}

a.flip-animate {
  perspective: 1000px;
  
  span {
    position: relative;
    display: inline-block;
    padding: 0;    
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
  
  span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
  }
  
  &:hover span,
  &:focus span {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  &:hover span:before,
  &:focus span:before {
    color: #F5811E;
  }
}


/* new animate */
.flip-animate-2 {
  perspective: 1000px;
}

.flip-animate-2 span {
  position: relative;
  display: inline-block;
  padding: 0;    
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}

.flip-animate-2 span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
  color: white;
}

.flip-animate-2:hover span,
.flip-animate-2:focus span {
  transform: rotateX(90deg) translateY(-22px);
}

.flip-animate-2:hover span:before,
.flip-animate-2:focus span:before {
  color: white !important;
}












/* end new animate */

.primary-btn{
  @apply p-2 bg-primary text-[#FFFFFF] text-[14px] font-medium rounded-[4px] 
  flex gap-2 border border-[#FFFFFF] w-fit relative overflow-hidden
  transition-all duration-[.3s] ease-in-out
}

.primary-btn span {
  position: relative;
  z-index: 2;
}

.primary-btn::before {
  background: linear-gradient(transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
  content:'';
  height: 200%;
  position: absolute;
  right: calc(100% + 20px);
  top: -55%;
  transform: rotate(-70deg);
  transition: .6s ease-in-out right;
  width: 60px;
  z-index: 0;
}

.primary-btn::after{
  content: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.666626 9L8.66663 1M8.66663 1H2.16663M8.66663 1V7.5" stroke="%23F4F5F6" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.primary-btn:hover:before {
  right: -100%;
}



.primary-btn-1 {
  @apply px-3 py-2 bg-secondary text-[#FFFFFF] text-[14px] font-medium rounded-[4px] flex gap-2 border border-[#FFFFFF] w-[140px] transition-all duration-500;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.primary-btn-1:hover {
  background-color: #232455; 
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.primary-btn-1::before{
  content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3289_339)"><path d="M9 0C4.05176 0 0 4.05244 0 9C0 13.9482 4.05244 18 9 18C13.9482 18 18 13.9476 18 9C18 4.05176 13.9476 0 9 0ZM9 16.9453C4.61893 16.9453 1.05469 13.3811 1.05469 9C1.05469 4.61893 4.61893 1.05469 9 1.05469C13.3811 1.05469 16.9453 4.61893 16.9453 9C16.9453 13.3811 13.3811 16.9453 9 16.9453Z" fill="white"/><path d="M9 3.41016C5.91367 3.41016 3.41016 5.92191 3.41016 9C3.41016 12.0931 5.93015 14.5898 9 14.5898C12.0705 14.5898 14.5898 12.0921 14.5898 9C14.5898 5.92397 12.0883 3.41016 9 3.41016ZM9 10.1602C8.36032 10.1602 7.83984 9.63968 7.83984 9C7.83984 8.36032 8.36032 7.83984 9 7.83984C9.63968 7.83984 10.1602 8.36032 10.1602 9C10.1602 9.63968 9.63968 10.1602 9 10.1602ZM4.46484 9C4.46484 8.36252 4.59737 7.75552 4.83577 7.2047L6.87373 8.38133C6.81647 8.57785 6.78516 8.78522 6.78516 9C6.78516 9.21478 6.81647 9.42215 6.87373 9.61867L4.83577 10.7953C4.59737 10.2445 4.46484 9.63748 4.46484 9ZM11.1263 8.38133L13.1642 7.2047C13.4026 7.75552 13.5352 8.36252 13.5352 9C13.5352 9.63748 13.4026 10.2445 13.1642 10.7953L11.1263 9.61867C11.1835 9.42215 11.2148 9.21478 11.2148 9C11.2148 8.78522 11.1835 8.57785 11.1263 8.38133ZM12.6357 6.29201L10.5978 7.46864C10.3112 7.16968 9.94221 6.95091 9.52734 6.84915V4.49574C10.7964 4.64337 11.9074 5.3167 12.6357 6.29201ZM8.47266 4.49574V6.84915C8.05779 6.95091 7.68878 7.16968 7.40218 7.46864L5.36435 6.29201C6.09261 5.3167 7.2036 4.64337 8.47266 4.49574ZM5.36435 11.708L7.40218 10.5314C7.68878 10.8303 8.05779 11.0491 8.47266 11.1508V13.5043C7.2036 13.3566 6.09261 12.6833 5.36435 11.708ZM9.52734 13.5043V11.1508C9.94221 11.0491 10.3112 10.8303 10.5978 10.5314L12.6357 11.708C11.9074 12.6833 10.7964 13.3566 9.52734 13.5043Z" fill="white"/></g><defs><clipPath id="clip0_3289_339"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>');
}
.primary-btn-2 {
  @apply px-3 py-2 bg-primary text-[#FFFFFF] text-[14px] font-medium rounded-[4px] flex gap-2 border border-[#FFFFFF] w-[140px] transition-all duration-500;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.primary-btn-2:hover {
  background-color: #d8731a; 
  transform: scale(1.05); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}

.primary-btn-2::before{
  content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.75 8.90533V14.25C1.75 14.4158 1.81585 14.5747 1.93306 14.6919C2.05027 14.8092 2.20924 14.875 2.375 14.875H13.625C13.7908 14.875 13.9497 14.8092 14.0669 14.6919C14.1842 14.5747 14.25 14.4158 14.25 14.25V8.90545M15.5 5.5V6.75C15.5 7.41304 15.2366 8.04893 14.7678 8.51777C14.2989 8.98661 13.663 9.25 13 9.25C12.337 9.25 11.7011 8.98661 11.2322 8.51777C10.7634 8.04893 10.5 7.41304 10.5 6.75M15.5 5.5L14.3795 1.5783C14.3422 1.44771 14.2634 1.33282 14.1549 1.25103C14.0465 1.16924 13.9144 1.125 13.7786 1.125H2.22144C2.08562 1.125 1.9535 1.16924 1.84507 1.25103C1.73664 1.33282 1.6578 1.44771 1.62049 1.5783L0.5 5.5M15.5 5.5H0.5M10.5 6.75V5.5M10.5 6.75C10.5 7.41304 10.2366 8.04893 9.76777 8.51777C9.29893 8.98661 8.66304 9.25 8 9.25C7.33696 9.25 6.70107 8.98661 6.23223 8.51777C5.76339 8.04893 5.5 7.41304 5.5 6.75M5.5 6.75V5.5M5.5 6.75C5.5 7.41304 5.23661 8.04893 4.76777 8.51777C4.29893 8.98661 3.66304 9.25 3 9.25C2.33696 9.25 1.70107 8.98661 1.23223 8.51777C0.763392 8.04893 0.5 7.41304 0.5 6.75V5.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.secondary-btn{
  @apply p-3 bg-secondary text-[#FFFFFF] text-[14px] font-medium rounded-[4px] flex gap-2
}
.secondary-btn::after{
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.sideNav{
  @apply flex gap-4 mb-2 justify-start items-center rounded-tl-[4px] rounded-bl-[4px] h-10 bg-primary w-[200px] px-[10px]
text-white -translate-x-[-160px] hover:-translate-x-0 transition-all duration-500
}


/* hamburger menu */
.hamburger-menu {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

/* Style for when the menu is visible */
.hamburger-menu.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/* Style for the menu items */
.ham-links{
  @apply text-[#101010] text-[48px] hover:bg-transparent rounded-none font-medium flex items-center relative group-hover:text-primary
  capitalize w-fit
}
.ham-links {
  transition: color 0.3s ease;
}
.ham-drop {
  @apply relative py-4 md:py-[8px] w-fit
}
.ham-drop:hover .center-dropdown {
  @apply h-auto transition-[height] duration-[0.5s] ease-[ease-in-out] visible;
}


/* hero-section */
.slider-overlay{
  background: linear-gradient(to right, rgba(0,0,0,0.40), rgba(0,0,0,0));
  @apply absolute top-0 left-0 w-full h-full z-10
}
.hero-sec-heading{
  @apply text-[60px] 2xl:text-[72px] text-[#FFFFFF] font-extrabold font-oak-sans
}
.section-subheading{
  @apply text-[24px] 2xl:text-[32px] text-[#FFFFFF] mb-8 leading-[1.2]
}

.explore-btn {
  @apply relative inline-block px-6 py-3 text-secondary bg-white font-medium text-[16px] rounded-[4px] overflow-hidden;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.explore-btn span {
  position: relative;
  z-index: 1;
  color: #F5811E; 
  letter-spacing: 2px;
}

.explore-btn .wave {
  width: 200px;
  height: 200px;
  background-color: #F5811E;
  position: absolute;
  left: -16px;
  top: -60px;
  transition: 0.4s;
  z-index: 0;
  border-radius: 50%;
}

.explore-btn:hover .wave {
  top: -100px;
}
.explore-btn:hover span {
  color: #FFFFFF;
}

.explore-btn .wave::before, .explore-btn .wave::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.explore-btn .wave::before {
  border-radius: 45%;
  background-color: #F5811E;
  animation: wave 5s linear infinite;
}

.explore-btn .wave::after {
  border-radius: 40%;
  background-color: #FFFFFF;
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.section-heading{
  @apply text-primary text-[16px] uppercase 
}
.section-title-wrapper{
  @apply relative pl-3 flex items-center
  before:content-[""] before:w-[3px] before:h-[80%] before:bg-primary before:absolute before:left-0 before:rounded-[100px] mt-3
}
.section-title{
  @apply text-secondary text-[36px] md:text-[40px] 2xl:text-[48px] font-bold leading-[1.2] flex gap-3 items-center
}

.about-title{
  @apply text-secondary text-[36px] xl:text-[48px] font-bold leading-[1.2] flex gap-3 items-center !capitalize pl-3
  before:content-[""] before:w-[3px] before:h-[80%] before:bg-primary before:absolute before:left-0 before:rounded-[100px]
}
.about-heading{
  @apply text-[#0E0E11] text-[36px] font-semibold leading-[1.1]
}
.about-usp-title{
  @apply text-[#1A1D21] text-[30px] 2xl:text-[40px] font-medium mt-3
}
.about-usp-detail{
  @apply text-[#606977] text-[16px] 2xl:text-[20px] mt-2 leading-[1.5]
}
.about-centre-fig{
  @apply absolute z-1 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 w-[126px] h-[136px] bg-[#ffffff] rounded-[20px]
}





/* innovation section */

.tertiary-button{
  @apply text-primary text-[16px] font-medium flex gap-1 items-center 
}
.tertiary-button::after{
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="%23F5811E" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.innovation-card figure{
  @apply w-full h-[280px] mb-5 relative overflow-hidden transition-all duration-500
  rounded-[24px]
}
.innovation-card-image{
  @apply w-full h-full object-cover rounded-[24px]
}
.innovation-card h2{
  @apply text-[#0E0E11] text-[32px] mb-2 font-semibold
}
.innovation-card p{
  @apply text-[#0E0E11] text-[20px] mb-2 
}


.innovation-card figure img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
}

.innovation-card figure:hover img {
  transform: scale(1.2);
}




/* product section */
.cat-btn{
  @apply w-[132px] py-2 bg-secondary text-[#FFFFFF]
  focus:bg-primary focus:font-bold text-[16px]
  rounded-[4px] uppercase px-5 flex justify-center
  font-[300] hover:bg-primary hover:text-[#FFFFFF] hover:font-normal last:capitalize
}
.active-cat-btn{
  @apply !bg-primary font-normal
}
.product-card{
  @apply relative border border-secondary rounded-[16px] bg-[#FFFFFF] z-10
}
.product-card figure{
  @apply w-[186px] h-[286px] absolute right-[20px] top-[-25%]
}
.product-card-image{
  @apply w-full h-full object-cover
}
.product-card-tag{
  @apply text-[18px] text-[#FFFFFF] bg-secondary px-6 py-2 rounded-tl-[12px] flex justify-center items-center w-fit
}

.product-card-detail{
  @apply px-6 py-7 mt-16
}
.product-svg-wrapper{
  @apply w-[90px] h-[54px] bg-[#E2DCF4] rounded-[12px] flex justify-center items-center p-2 mb-3
}
.product-card h2{
  @apply text-[#050B20] text-[24px] mb-3 font-bold
}
.product-card p{
  @apply text-[#050B20] text-[15px] mb-3
}

.swiper-button-next{
  @apply !w-12 !h-12 !bg-[#DEE1E5] absolute rounded-[4px] !top-[112%]
}
.swiper-button-next::after{
  content: url('data:image/svg+xml,<svg width="22" height="30" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.731556 19.8801L9.32356 11.0001L0.731556 2.07215C0.315556 1.65615 0.315556 1.27215 0.731556 0.920149C1.14756 0.504148 1.53156 0.504148 1.88356 0.920149L11.2916 10.3761C11.6756 10.7921 11.6756 11.1921 11.2916 11.5761L1.88356 21.0321C1.53156 21.4481 1.14756 21.4481 0.731556 21.0321C0.315556 20.6801 0.315556 20.2961 0.731556 19.8801Z" fill="%234F5662"/></svg>') !important; 
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}
.swiper-button-prev{
  @apply !w-12 !h-12 !bg-[#DEE1E5] absolute rounded-[4px] !top-[112%] !left-[88%] 2xl:!left-[91%]
}
.swiper-button-prev::after{
  content: url('data:image/svg+xml,<svg width="12" height="30" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2674 19.8801C11.6834 20.2961 11.6834 20.6801 11.2674 21.0321C10.8514 21.4481 10.4674 21.4481 10.1154 21.0321L0.707434 11.5761C0.323434 11.1921 0.323434 10.7921 0.707434 10.3761L10.1154 0.920149C10.4674 0.504148 10.8514 0.504148 11.2674 0.920149C11.6834 1.27215 11.6834 1.65615 11.2674 2.07215L2.67543 11.0001L11.2674 19.8801Z" fill="%234F5662"/></svg>') !important; 
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}


/* sustainability */

.video-content{
  @apply w-[100%] mt-8 
}
.video-content video{
  @apply w-[300px] h-[300px] rounded-[20px]
}

.sustainabilityVideo{
  margin: 0 auto;
  border-radius: 20px!important;
}
/* media-card-section */

.media-card figure{
  @apply w-full h-[270px] mb-6 overflow-hidden relative rounded-[24px]
}
.media-card-image{
  @apply w-full h-full object-cover rounded-[24px]
}
.card-cat, .card-date{
  @apply text-primary text-[14px] capitalize
}
.media-title{
  @apply text-[#0E0E11] text-[18px] font-bold leading-[1.5] mb-2
}
.media-detail{
  @apply text-[#4F5662] text-[14px] mb-3
}

.media-card figure img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
}

.media-card figure:hover img {
  transform: scale(1.2);
}







/* footer-section */
.footer-detail-sec{
  @apply flex justify-between items-center 
}
.footer-description-text{
  @apply text-[#0E0E11] text-[16px] leading-[1.5] 
}
.footer-detail-box{
  @apply flex items-center gap-3 border border-[#727C8D] px-4 py-2 rounded-[4px]
}
.footer-detail-box span{
  @apply text-[18px] text-secondary
}
.footer-list{
  @apply flex flex-col gap-3 mt-5
}
.footer-list-item{
  @apply text-[#0E0E11] text-[16px] leading-[1.2] capitalize relative flex gap-2
}
/* .footer-list-item::after{
  display: none;
  content: url('data:image/svg+xml,<svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L9 0.5M9 0.5H2.5M9 0.5V7" stroke="%23F5811E" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.footer-list-item:hover .footer-list-item::after{
  display: flex;
} */
.footer-list-box{
  @apply text-secondary text-[20px] leading-[1.2] capitalize 
}

.bottom-top-btn{
  @apply w-10 h-10 bg-primary flex justify-center items-center rounded-[4px]
}


/* loader animation */

.ltr{
  animation: example 2s linear;
}
@keyframes example {
  from {
    opacity: 0.2;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.rtl{
  animation: example1 2s linear;
}
@keyframes example1 {
  from {
    opacity: 0.2;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.loader-sec {
  animation: reveal-c 1s linear;
  animation-delay: 3s;
  animation-fill-mode: forwards; /* Ensures styles set in last keyframe persist */
  background-color: white;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.2);
}

@keyframes reveal-c {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

.loader {
  width: 100vh;
  height: 100vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}





/* About us Animation css */
.split-section-before h4,
.split-section-after h4 {
  font-size: 44px;
  margin-block-end: 30px;
}

.split-section {
  position: relative;
  display: grid;
  grid-gap: 40px;
  padding-block: 80px;
}
@media (width >= 768px) {
  .split-section {
    padding-block: 0px;
    grid-template-columns: 50% auto;
  }
}
.split-section .split-images {
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}
.split-section .split-images img{
  @apply !rounded-[20px]
}
@media (width >= 768px) {
  .split-section .split-images {
    display: flex;
  }
}
.split-section .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.split-section .images-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 70%;
}
.split-section .images-wrapper .image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.split-section .split-details {
  position: relative;
}
@media (width <= 768px) {
  .split-section .details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.split-section .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}
@media (width >= 768px) {
  .split-section .detail {
    max-width: 95%;
    min-height: 100vh;
  }
}
.split-section .detail .image {
  height: 300px;
  display: block;
}
@media (width >= 768px) {
  .split-section .detail .image {
    display: none;
  }
}
.split-section .detail .heading {
  font-size: 40px;
}
.split-section .detail .meta {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.split-section .detail .meta .subheading {
  font-size: 24px;
}
.split-section .images-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 70%;
  top: 25%;
}


@media (width >= 1441px) {
  .split-section .split-images {
   height: 100vh !important;
  }
  .split-section .detail{
    min-height: 100vh !important;
  }
}




/* dealer sec */
.listing-card-wrapper{
  @apply flex flex-col gap-[8px] h-[550px] overflow-y-auto
}
.listing-card{
  @apply p-3 bg-[#FFFFFF] border border-[#DEE1E5] rounded-[6px] mr-2
}

.listing-card-title{
  @apply text-[#1A1D21] text-[20px] font-bold mb-[4px]
}
.listing-reviews{
  @apply text-[#9D9D9D] text-[18px] mb-[6px] leading-[1.5] flex items-center gap-2
}
.listing-reviews span{
  @apply text-secondary
}
.listing-card-status{
  @apply text-[#727C8D] text-[14px] flex gap-[6px]
}
.listing-card-status span{
  @apply text-[#1DB469] flex gap-[6px] items-center after:w-[4px] after:h-[4px] after:bg-[#9D9D9D] after:flex 
  after:gap-[6px] after:items-center after:rounded-full
}
.map-sec iframe {
  @apply w-full h-[400px] lg:h-[550px] rounded-[4px]
}
.result-number{
  @apply text-[24px] mb-2
}
.result-number span{
  @apply text-primary
}
.address-input{
  @apply bg-[#F4F5F6] py-[12px] pl-4 border border-[#DEE1E5] w-full rounded-[2px] outline-none placeholder:font-normal
}









 